<%= render "layouts/header" %>

<div class="content new-game">

<h1>Enter the score for the game</h1>

<%= render 'form' %>

<div class="league-admin">
	<%= link_to 'Back', league_matches_path %>
</div>
</div>