/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
 header {
 	position: fixed;
 	height: 50px;
 	background: black;
 	color: white;
 	top: 0;
 	left: 0;
 	width: 100%;
 	padding-top: 15px;
 	z-index: 444;
 	.person-name {
 		a {
 			color: white;
 			text-decoration: none;
 		}
 	}
 }
 header .left {
 	width: 25%;
 	display: inline-block;
 	float: left;
 }
 header .center {
 	display: inline-block;
 	width: 50%;
 	text-align: center;
 	float: left;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 }
 header .right {
 	display: none;
 	display: inline-block;
 	width: 25%;
 	float: left;
 	text-align: right;
 	margin-top: -3px;
 }
.menu-trigger {
	position: relative;
	padding-right: 25px;
}
.main-menu {
	display: none;
	background: rgba(255,255,255,0.9);
	color: white;
	position: absolute;
	top: 50px;
	right: 0;
	width: 100%;
	-webkit-padding-start: 0;
	li {
		border-bottom :1px solid black;
		a {
			padding: 5px;
			color: black;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}
.main-menu {
	a {
		color: white;
		text-decoration: none;
		display: block;
		&:hover {
			background: none;
		}
	}
}
.main-menu .divider {
	background: rgba(70,70,70,0.5);
	padding: 15px 0px;
}
.main-menu li {
	list-style-type: none;
	text-align: center;
}
.main-menu li a {
	padding: 15px 0px;
	display: block;
}


.content {
	margin-top: 100px;
}
.content a {
	display: inline-block;
}

.opponents {
	/*display: none;*/
}

.home-leagues {
	a {
		text-align: center;
		width: 50%;
		background: teal;
		color: white;
		text-align: center;
		margin: 0 auto;
		display: block;
		padding: 25px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
		&:hover {
			background: #444;
		}
	}
	.new-league-btn {
		margin-top: 50px;
	}
}
table {
	width: 100%;
}

.home-page {
	text-align: center;
	h3 {
		margin-bottom: 50px;
	}
}

.league-info {
	background: #f0f0f0;
	margin-top: -50px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	h1 {
		text-align: left;
		margin-top: 20px;
		text-transform: uppercase;
	}
	table {
		border-collapse: collapse;
		tr {
			border-bottom: 1px solid black;
		}
		th {
			&:nth-child(2) {
				text-align: center;
			}
			&:nth-child(3) {
				text-align: center;				
			}
		}
		td {
			&:nth-child(2) {
				text-align: center;
			}
			&:nth-child(3) {
				text-align: center;				
			}
		}
	}
}